{% extends 'base.html.twig' %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div>
            {{ message }}
        </div>
    {% endfor %}

     {{ form_start(form) }}
     {{ form_row(form.alias) }}
     <button type="submit">New Credit Card User!</button>
     {{ form_end(form) }}

 {% endblock %}
